[submodule "_graphinf/SamplableSet"]
	path = _graphinf/SamplableSet
	url = https://github.com/gstonge/SamplableSet.git
[submodule "_graphinf/base_graph"]
	path = _graphinf/base_graph
	url = https://github.com/antoineallard/base_graph.git
